#configs {
  background-color: var(--bs-white);

  select,
  button {
    height: 54px;
  }

  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }

  select {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
  }

  button {
    border-radius: 0;

    &[data-toggle] {
      border-top-right-radius: 50rem;
      border-bottom-right-radius: 50rem;
    }

    &:not(.btn) {
      width: 64px;
    }
  }

  &.shadow {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    .row {
      border: none;
    }

    select,
    button {
      height: 62px;
      border-radius: 0;
    }
  }
}
