#configs {
  
  select,
  button {
    height: 54px;
  }

  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }

  select {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
  }

  button {
    border-radius: 0;

    &[data-toggle] {
      border-top-right-radius: 50rem;
      border-bottom-right-radius: 50rem;
    }

    &:not(.btn) {
      width: 64px;
    }
  }

  &.shadow {
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg) !important;
    .row {
      border: none;
    }

    select,
    button {
      height: 62px;
      border-radius: 0;
    }
  }
}
