#configs {
  background-color: #fff;
  position: sticky;
  top: 0;
  height: 64px;
  z-index: 1020;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  .row {
    margin: 0;
    border-radius: 48px;
    border: 1px solid $border-color;
  }
  select {
    border: none;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
    height: 54px;
    padding-left: 1.75rem;
  }
  button {
    border: none;
    height: 54px;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-radius: 0;
    padding: 0px 20px;
    &[data-toggle] {
      border-top-right-radius: 48px;
      border-bottom-right-radius: 48px;
    }
  }
  &.shadow {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 30%), 0 2px 6px 2px rgba(60, 64, 67, 15%);
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    .row {
      border: none;
    }
    select,
    button {
      height: 62px;
      border-radius: 0;
    }
  }
}
