.bg-dark {
  color: #e8eaed;
  caret-color: #8ab4f8;

  a {
    color: #8ab4f8;
  }

  svg {
    color: #e8eaed;
  }

  button {
    font-weight: 500;
  }

  .text-muted,
  .form-text {
    color: #9aa0a6 !important;
  }

  .text-secondary{
    color: #e8eaed !important;
  }

  .text-danger {
    color: #f28b82 !important;
  }

  .btn-outline-primary {
    color: #8ab4f8;
    border-color: #8ab4f8;

    &:hover {
      color: #d2e3fc;
      background-color: rgb(138 180 248 / 4%);
    }
  }

  .list-group-item {
    background-color: #000;
    border-color: #5f6368;
    color: #e8eaed;
  }

  .btn-primary {
    background-color: #8ab4f8;
    border-color: #8ab4f8;
    color: #202124;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);

    &:hover {
      box-shadow: 0 1px 2px 0 rgb(138 180 248 / 30%), 0 1px 3px 1px rgb(138 180 248 / 15%);
    }
  }

  input:not(.form-check-input),
  select {
    color: #e8eaed;
    background-color: #000;
    border-color: #5f6368 !important;
  }

  .form-label {
    color: #e8eaed;
    border-color: #5f6368 !important;
    background-color: #000;
  }

  .border,
  .card,
  .modal-header,
  .modal-footer {
    border-color: #5f6368 !important;
  }

  .card-header,
  .card-body {
    border-color: #5f6368 !important;
  }

  .border-end {
    border-right-color: #5f6368 !important;
  }

  .card,
  .modal-content {
    background-color: #303134;
  }

  #configs{
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  }
}
