.dropdown {
  &-menu {
    background: var(--popover-bg-color);
    box-shadow: var(--box-shadow);
  }
  &-item {
    color: var(--color);
    &:hover:not(.active) {
      background: var(--dropdown-hover-color);
      color: var(--color);
    }
  }
  &-divider {
    border-color: var(--border-color);
  }
}
