header {
  border-bottom: 1px solid var(--border-color);
  nav {
    margin: 0 60px;
  }
  .navbar-light .navbar-brand {
    font-size: 22px;
    font-weight: 500;
    color: var(--header-color);
    &:hover {
      color: var(--header-color);
    }
  }
}
