.form-group {
  margin-bottom: 1.5rem;

  label {
    position: absolute;
    left: 30px;
    top: -10px;
    background: var(--background-color);
    font-size: 0.8rem;

    padding: 0px 2px;
    margin-bottom: 0;
  }
  svg.text-info {
    position: absolute;
    right: 25px;
    top: 12px;
  }
  input.is-invalid + label + svg.text-info {
    right: 50px;
  }
}

input,
select {
  & + label {
    color: var(--label-color);
  }
  color: var(--color);
  caret-color: var(--label-focus-color);
  &:hover {
    border-color: var(--border-color);
    & + label {
      color: var(--label-focus-color);
    }
  }
  &:focus {
    box-shadow: none !important;
    & + label {
      color: var(--label-focus-color);
    }
  }
  &.is-invalid + label {
    color: var(--danger);
  }
}
