.sponsors {
  a {
    display: block;
  }
}

@media (min-width: 1870px) {
  main {
    position: relative;
  }

  .sponsors {
    position: absolute;
    bottom: 0;
    width: auto;
    .d-flex{
      flex-direction: column !important;
    }
  }
}
