.custom-switch {
  .custom-control-label::before {
    background-color: transparent;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
  }
  .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #ffffff;
  }
}
