.table {
  color: var(--color);
  margin-bottom: 0;

  thead th {
    color: var(--label-color);
    font-weight: 500;
  }
  &-bordered,
  thead th,
  tbody td {
    border-color: var(--border-color);
  }
}
