.toast {
  background-color: var(--toaster-background-color);
  &-handler {
    position: absolute;
    z-index: 2322;
    top: 5rem;
    right: 1rem;
    color: var(--color);
  }
  &-header {
    background: var(--toaster-header-color);
    color: var(--color);
  }
  button {
    width: auto;
    height: auto;
    padding: 0;
    color: var(--color);
    font-weight: 300;
  }
}
