@import './color';
@import './action-table';
@import './button';
@import './card';
@import './configs';
@import './footer';
@import './header';
@import './input';
@import './modal';
@import './popover';
@import './reorder-configs.modal';
@import './switch';
@import './table';
@import './dropdown';
@import './navbar';
@import './badge';
@import './toast-handler';

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
}

#root > div {
  background-color: var(--background-color);
  color: var(--color);
}

.container-fluid {
  max-width: 1440px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

svg {
  cursor: pointer;
}

.popover {
  max-width: 100%;
}

.dropdown-toggle::after {
  content: '';
}

main {
  position: relative;
}
