@import './header';
@import './footer';
@import './configs';

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.container-fluid{
  max-width: 1440px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

svg {
  cursor: pointer;
}

.popover {
  max-width: 100%;
  /* Max Width of the popover (depending on the container!) */
}

.card .card-header {
  background-color: #fff;
  font-weight: 400;
}

.form-control {
  color: #344050;
}

.dropdown-toggle::after {
  content: '';
}

main {
  position: relative;
}
